*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.center{
    height: 100%;
    width: 100%;
    background: linear-gradient(120deg,#2980b9, #8e44ad);
    background-size: cover;
    position: absolute;

}

.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
    
}
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 5px;
}

form .text_field{
    position: relative;
    border-bottom: 2px solid #8e44ad;
    margin: 30px 0;
}
.button-box{
    width: 240px;
    margin: 30px auto;
    position: relative;
     border-radius: 30px;
    background: #71b7e6;
   
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: #e9f4fb;
    
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background:linear-gradient(to right, #2980b9,#8e44ad);
    border-radius: 30px;
    transition: 0.5s;

}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: -5px 0 20px 5px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #2969b3;
    outline: none;
    background: transparent;
    font-size: 16px;
    
    
}

.submit-btn{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
.pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
  

}
.pass:hover{
    text-decoration: underline;
}
.signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.signup_link a{
    color: #2691d9;
    text-decoration: none;

}
.signup_link a:hover{
    text-decoration: underline;
}
#userlogin{
        left: 50px;
}
#professionalslogin{
    left: 450px;

}